<div class="m-4">
  <p-dataView
    [value]="issues()"
    emptyMessage=" ">
    <ng-template pTemplate="header">
      <div class="flex flex-row-reverse">
        <p-button
          routerLink="new"
          label="New issue"
          severity="success" />
      </div>
    </ng-template>

    <ng-template
      pTemplate="list"
      let-issues>
      <div class="grid grid-nogutter">
        @for (issue of issues; track issue.id; let first = $first) {
          <div class="col-12">
            <div
              class="p-3"
              [ngClass]="{ 'border-top-1 surface-border': !first }">
              <div class="pb-2 flex flex-row gap-2">
                <a
                  [routerLink]="issue.issueNumber"
                  class="text-lg font-bold no-underline"
                  >{{ issue.title }}</a
                >

                @for (label of issue.labels; track label.id) {
                  <p-tag
                    [value]="label.name"
                    [rounded]="true"
                    [style]="{ background: label.color | color }" />
                }
              </div>
              <div class="grid grid-nogutter text-sm text-400">
                <div class="col-10">
                  <span>#{{ issue.issueNumber }} created by {{ issue.author.name }}</span>
                </div>
                <div class="col-2 text-right">
                  <span>{{ issue.assignee?.name ?? 'Unassigned' }}</span>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </ng-template>
  </p-dataView>

  <paginator
    [loader]="paginatorLoader"
    [offsetSelector]="paginatorOffsetSelector"
    (dataChanged)="paginatorDataChanged($event)" />
</div>
