<div class="max-w-full h-full flex justify-content-center">
  <form
    class="w-20rem flex flex-column justify-content-center"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <h1>Set new password</h1>
    <validation-summary />

    <div class="field">
      <label for="password">Password:</label>
      <input
        id="password"
        type="password"
        class="w-full"
        pInputText
        formControlName="password" />
      <validation-summary controlName="password" />
    </div>

    <div class="field">
      <label for="confirmPassword">Confirm Password:</label>
      <input
        id="confirmPassword"
        type="password"
        class="w-full"
        pInputText
        formControlName="confirmPassword" />
      <validation-summary controlName="confirmPassword" />
    </div>

    <div class="field">
      <p-button
        label="Save"
        type="submit"
        [disabled]="form.invalid" />
    </div>
  </form>
</div>
