<div class="flex align-items-center justify-content-center">
  <form
    class="w-full"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <h1>New Status Transition</h1>
    <validation-summary />

    <div class="field">
      <label for="from">From:</label>
      <p-select
        id="from"
        formControlName="fromId"
        [dataSource]="statuses$"
        optionLabel="name"
        optionValue="id"
        styleClass="w-full"
        placeholder="Select Status" />
      <validation-summary controlName="fromId" />
    </div>

    <div class="field">
      <label for="to">To:</label>
      <p-select
        id="to"
        formControlName="toId"
        [dataSource]="statuses$"
        optionLabel="name"
        optionValue="id"
        styleClass="w-full"
        placeholder="Select Status" />
      <validation-summary controlName="toId" />
    </div>

    <div class="field">
      <p-button
        label="Save"
        type="submit"
        [disabled]="form.invalid" />
    </div>
  </form>
</div>
