<div class="flex align-items-center justify-content-center">
  <form
    class="w-6"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <h1>New User</h1>

    <div class="field">
      <label for="name">Name:</label>
      <input
        id="name"
        type="text"
        class="w-full"
        formControlName="name"
        pInputText
        pAutoFocus
        [autofocus]="true" />
      <validation-summary controlName="name" />
    </div>

    <div class="field">
      <label for="description">Description:</label>
      <input
        id="description"
        type="text"
        class="w-full"
        pInputText
        formControlName="description" />
      <validation-summary controlName="description" />
    </div>

    <div class="field">
      <label for="defaultBranch">Default Branch:</label>
      <input
        id="defaultBranch"
        type="text"
        class="w-full"
        pInputText
        formControlName="defaultBranch" />
      <validation-summary controlName="defaultBranch" />
    </div>

    <div class="field">
      <p-button
        label="Create"
        type="submit"
        [disabled]="!form.valid"
        [loading]="isLoading()" />
    </div>
  </form>
</div>
