<div class="flex align-items-center justify-content-center">
  <form
    class="w-6"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <h1>Profile</h1>

    <div class="field">
      <label for="name">Name:</label>
      <input
        id="name"
        type="text"
        class="w-full"
        pInputText
        formControlName="name" />
    </div>

    <div class="field">
      <label for="status">Status:</label>
      <input
        id="status"
        type="text"
        class="w-full"
        pInputText
        formControlName="status" />
    </div>

    <div class="field">
      <p-button
        label="Save"
        type="submit"
        [disabled]="!form.valid" />
    </div>
  </form>
</div>
