<div class="flex align-items-center justify-content-center">
  <form
    class="w-full"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <h1>Edit Label</h1>

    <div class="field">
      <label for="name">Name:</label>
      <input
        id="name"
        type="text"
        class="w-full"
        formControlName="name"
        pInputText
        [pAutoFocus]="true" />
      <validation-summary controlName="name" />
    </div>

    <div class="field">
      <label for="color">Color:</label>
      <p-colorPicker
        formControlName="color"
        format="rgb" />
      <validation-summary controlName="color" />
    </div>

    <div class="field flex flex-row gap-2">
      <p-button
        label="Save"
        type="submit"
        [disabled]="form.invalid" />
      <p-button
        label="Cancel"
        [outlined]="true"
        [routerLink]="['../']" />
    </div>
  </form>
</div>
