<div class="flex align-items-center justify-content-center">
  <form
    class="w-6"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <h1>New User</h1>

    <div class="field">
      <label for="login">Login:</label>
      <input
        id="login"
        type="text"
        class="w-full"
        formControlName="login"
        pInputText
        pAutoFocus
        [autofocus]="true" />
      <validation-summary controlName="login" />
    </div>

    <div class="field">
      <label for="roles">Roles:</label>
      <p-multiSelect
        id="roles"
        formControlName="roles"
        styleClass="w-full"
        [dataSource]="roles$"
        optionLabel="name"
        placeholder="Select Roles"
        [filter]="false" />
      <validation-summary controlName="roles" />
    </div>

    <!-- TODO: permissions -->
    <div class="field">
      <p-button
        label="Save"
        type="submit"
        [disabled]="!form.valid" />
    </div>
  </form>
</div>
