<div class="flex align-items-center justify-content-center">
  <div class="w-8">
    <h1>Users</h1>

    <p-table
      [value]="users()"
      styleClass="p-datatable-striped">
      <ng-template pTemplate="header">
        <tr>
          <th>Login</th>
        </tr>
      </ng-template>

      <ng-template
        pTemplate="body"
        let-user>
        <tr>
          <td>
            <div class="flex flex-row align-items-center">
              <div class="flex-grow-1">
                <span>{{ user.login }}</span>
              </div>

              <div class="flex-shrink-1 flex gap-2">
                <p-button
                  icon="pi pi-pencil"
                  [routerLink]="['/users', user.login]"
                  [outlined]="true" />

                @if (user.isLocked) {
                  <p-button
                    icon="pi pi-lock-open"
                    [outlined]="true"
                    (onClick)="unlockUser(user)" />
                } @else {
                  <p-button
                    icon="pi pi-lock"
                    [outlined]="true"
                    [disabled]="isCurrentUser(user) | async"
                    (onClick)="lockUser(user)" />
                }
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <paginator
      [loader]="paginatorLoader"
      [offsetSelector]="paginatorOffsetSelector"
      (dataChanged)="paginatorDataChanged($event)" />
  </div>
</div>
