<div class="grid">
  <div class="col">
    <p-toolbar>
      <div class="p-toolbar-group-start">
        <p-dropdown
          [dataSource]="branches$"
          optionLabel="name"
          [ngModel]="selectedBranch$ | async"
          (ngModelChange)="selectBranch($event)" />
      </div>

      <div class="p-toolbar-group-end">
        <p-button
          label="Clone"
          icon="pi pi-clone"
          severity="success"
          (onClick)="cloneDialog.toggle($event)" />
        <p-overlayPanel #cloneDialog>
          <div class="flex flex-column gap-2 w-25rem">
            <span>Clone with HTTP/HTTPS</span>
            <p-inputGroup>
              <input
                pInputText
                [value]="cloneUrl()"
                readonly />
              <button
                pButton
                type="button"
                (click)="copyCloneUrl()">
                <span class="pi pi-copy"></span>
              </button>
            </p-inputGroup>
          </div>
        </p-overlayPanel>
      </div>
    </p-toolbar>

    @if (directoryView$ | async; as view) {
      <p-toolbar>
        <div class="p-toolbar-group-start gap-2">
          <span class="pi pi-user"></span>
          <span class="font-medium">{{ view.commit.author.name }}</span>
          <span class="text-400">{{ view.commit.message }}</span>
        </div>
        <div class="p-toolbar-group-end gap-2">
          <span class="text-400">{{ view.commit.hash | slice: 0 : 6 }}</span>
          <span class="text-400">{{ view.commit.date | date: 'shortDate' }}</span>
          <span class="pi pi-history"></span>
          <span>{{ view.commitsCount }} commits</span>
        </div>
      </p-toolbar>

      <p-table
        [value]="view.items"
        selectionMode="single"
        styleClass="p-datatable-striped">
        <ng-template
          pTemplate="body"
          let-item>
          <tr>
            <td style="width: 1%">
              @if (item.isDirectory) {
                <span class="pi pi-folder"></span>
              } @else {
                <span class="pi pi-file"></span>
              }
            </td>
            <td style="width: 19%">
              @if (item.isDirectory) {
                <a
                  class="grid-item-link"
                  [routerLink]="item.name">
                  {{ item.name }}
                </a>
              } @else {
                <a
                  class="grid-item-link"
                  [routerLink]="[
                    '/repositories',
                    (repository$ | async)?.name,
                    'file',
                    (branchOrPath$ | async)?.join('/'),
                    item.name,
                  ]">
                  {{ item.name }}
                </a>
              }
            </td>
            <td
              style="width: 75%"
              class="text-400">
              {{ item.message }}
            </td>
            <td
              style="width: 5%"
              class="text-400">
              {{ item.date | date: 'shortDate' }}
            </td>
          </tr>
        </ng-template>
      </p-table>

      @if (displayTabView$ | async) {
        <div pDefer>
          <ng-template>
            <p-tabView>
              @if (readmeName$ | async; as readmeName) {
                <p-tabPanel [header]="readmeName">
                  <div [innerHTML]="readmeFile$ | async | md | async"></div>
                </p-tabPanel>
              }

              @if (licenseName$ | async; as licenseName) {
                <p-tabPanel [header]="licenseName">
                  <div [innerHTML]="licenseFile$ | async | md | async"></div>
                </p-tabPanel>
              }
            </p-tabView>
          </ng-template>
        </div>
      }
    } @else {
      <p-toolbar>
        <div class="grid w-full">
          <!-- icon -->
          <p-skeleton
            height="1rem"
            class="col-1" />
          <!-- author -->
          <p-skeleton
            height="1rem"
            class="col-2" />
          <!-- message -->
          <p-skeleton
            height="1rem"
            class="col-6" />

          <!-- hash -->
          <p-skeleton
            height="1rem"
            class="col-1" />
          <!-- date -->
          <p-skeleton
            height="1rem"
            class="col-1" />
          <!-- commit count -->
          <p-skeleton
            height="1rem"
            class="col-1" />
        </div>
      </p-toolbar>

      <p-table
        [value]="directoryViewPlaceholder"
        selectionMode="single"
        styleClass="p-datatable-striped">
        <ng-template
          pTemplate="body"
          let-item>
          <tr>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
          </tr>
        </ng-template>
      </p-table>
    }
  </div>

  <div class="col-2">
    <div class="text-2xl">{{ (repository$ | async)?.name }}</div>
    <div class="text-xl">{{ (repository$ | async)?.description }}</div>
  </div>
</div>
