<div class="flex align-items-center justify-content-center">
  <form
    class="w-6"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <h1>Edit User</h1>

    <div class="field">
      <with-validation>
        <label for="login">Login:</label>
        <input
          id="login"
          type="text"
          class="w-full"
          pInputText
          formControlName="login" />
      </with-validation>
    </div>

    <div class="field">
      <with-validation>
        <label for="roles">Roles:</label>
        @if (roles$ | async; as roles) {
          <p-multiSelect
            id="roles"
            formControlName="roles"
            styleClass="w-full"
            [options]="roles"
            optionLabel="name"
            placeholder="Select Roles"
            [filter]="false" />
        }
      </with-validation>
    </div>

    <div class="field">
      <with-validation>
        <p-checkbox
          inputId="isLocked"
          formControlName="isLocked"
          [binary]="true"
          label="Is Locked" />
      </with-validation>
    </div>

    <!-- TODO: permissions -->
    <div class="field">
      <p-button
        label="Save"
        type="submit"
        [disabled]="!form.valid" />
    </div>
  </form>
</div>
