<div class="flex align-items-center justify-content-center">
  <form
    class="w-full"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <validation-summary />

    <div class="field">
      <label for="oldPassword">Old Password:</label>
      <input
        id="oldPassword"
        type="password"
        class="w-full"
        pInputText
        formControlName="oldPassword" />
      <validation-summary controlName="oldPassword" />
    </div>

    <div class="field">
      <label for="newPassword">New Password:</label>
      <input
        id="newPassword"
        type="password"
        class="w-full"
        pInputText
        formControlName="newPassword" />
      <validation-summary controlName="newPassword" />
    </div>

    <div class="field">
      <label for="confirmPassword">Confirm Password:</label>
      <input
        id="confirmPassword"
        type="password"
        class="w-full"
        pInputText
        formControlName="confirmPassword" />
      <validation-summary controlName="confirmPassword" />
    </div>

    <div class="field">
      <p-button
        label="Save"
        type="submit"
        [disabled]="form.invalid" />
    </div>
  </form>
</div>
