<div class="flex align-items-center justify-content-center">
  <form
    class="w-6"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <h1>Edit Issue</h1>

    <div class="field">
      <label for="title">Title:</label>
      <input
        id="title"
        type="text"
        class="w-full"
        formControlName="title"
        pInputText
        pAutoFocus
        [autofocus]="true" />
      <validation-summary controlName="title" />
    </div>

    <div class="field">
      <label for="assignee">Assignee:</label>
      <p-dropdown
        id="assignee"
        formControlName="assigneeId"
        [dataSource]="users$"
        optionLabel="name"
        optionValue="id"
        styleClass="w-full"
        placeholder="Select User" />
      <validation-summary controlName="assigneeId" />
    </div>

    <div class="field">
      <label for="labelIds">Labels:</label>
      <p-multiSelect
        formControlName="labelIds"
        [dataSource]="labels$"
        optionLabel="name"
        optionValue="id"
        styleClass="w-full"
        placeholder="Select Labels"
        [filter]="false" />
      <validation-summary controlName="labelIds" />
    </div>

    <div class="field">
      <label for="status">Status:</label>
      <p-dropdown
        id="status"
        formControlName="statusId"
        [dataSource]="statuses$"
        optionLabel="name"
        optionValue="id"
        styleClass="w-full"
        placeholder="Select Status" />
      <validation-summary controlName="statusId" />
    </div>

    <div class="field">
      <p-button
        label="Save"
        type="submit"
        [disabled]="form.invalid"
        [loading]="isLoading()" />
    </div>
  </form>
</div>
