<div class="max-w-full h-full flex justify-content-center">
  <form
    class="w-20rem flex flex-column justify-content-center"
    [formGroup]="formGroup"
    (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="login">Login:</label>
      <input
        id="login"
        type="text"
        class="w-full"
        pInputText
        formControlName="login" />
      <validation-summary controlName="login" />
    </div>

    <div class="field">
      <label for="password">Password:</label>
      <input
        id="password"
        type="password"
        class="w-full"
        pInputText
        formControlName="password" />
      <validation-summary controlName="password" />
    </div>

    <div class="field">
      <p-button
        label="Login"
        type="submit"
        [disabled]="!formGroup.valid" />
    </div>
  </form>
</div>
