<div class="flex align-items-center justify-content-center">
  <form
    class="w-6"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <h1>New Issue</h1>

    <div class="field">
      <label for="title">Title:</label>
      <input
        id="title"
        type="text"
        class="w-full"
        pInputText
        formControlName="title" />
      <validation-summary controlName="title" />
    </div>

    <div class="field">
      @if (users$ | async; as users) {
        <label for="assignee">Assignee:</label>
        <p-dropdown
          id="assignee"
          formControlName="assigneeId"
          [options]="users"
          optionLabel="name"
          optionValue="id"
          styleClass="w-full"
          placeholder="Select User" />
        <validation-summary controlName="assigneeId" />
      }
    </div>

    <div class="field">
      @if (labels$ | async; as labels) {
        <label for="labels">Labels:</label>
        <p-multiSelect
          id="labels"
          formControlName="labelIds"
          [options]="labels"
          optionLabel="name"
          optionValue="id"
          styleClass="w-full"
          placeholder="Select Labels"
          [filter]="false" />
        <validation-summary controlName="labelIds" />
      }
    </div>

    <div class="field">
      @if (statuses$ | async; as statuses) {
        <label for="status">Status:</label>
        <p-dropdown
          id="status"
          formControlName="statusId"
          [options]="statuses"
          optionLabel="name"
          optionValue="id"
          styleClass="w-full"
          placeholder="Select Status" />
        <validation-summary controlName="statusId" />
      }
    </div>

    <div class="field">
      <label for="description">Description:</label>
      <textarea
        id="description"
        class="w-full"
        pInputTextarea
        formControlName="initialComment"></textarea>
      <validation-summary controlName="description" />
    </div>

    <div class="field">
      <p-button
        label="Save"
        type="submit"
        [disabled]="form.invalid"
        [loading]="isLoading()" />
    </div>
  </form>
</div>
