<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()">
  <div class="field">
    <label for="email">Email:</label>
    <input
      id="email"
      type="email"
      class="w-full"
      pInputText
      formControlName="email" />
  </div>

  <div class="field">
    <label for="password">Password:</label>
    <input
      id="password"
      type="password"
      class="w-full"
      formControlName="password"
      pInputText />
  </div>

  <div class="field">
    <label for="roles">Roles:</label>
    <p-multiSelect
      id="roles"
      formControlName="roles"
      styleClass="w-full"
      [options]="roles"
      optionLabel="name"
      placeholder="Select Roles"
      [filter]="false" />
  </div>

  <!-- TODO: permissions -->
  <div class="field">
    <p-button
      label="Save"
      type="submit"
      [disabled]="!form.valid" />
  </div>
</form>
