<div class="flex align-items-center justify-content-center">
  <form
    class="w-full"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="name">Name:</label>
      <input
        id="name"
        type="text"
        class="w-full"
        formControlName="name"
        pInputText
        pAutoFocus
        [autofocus]="true" />
      <validation-summary controlName="name" />
    </div>

    <div class="field">
      <label for="expiresAt">Expires At:</label>
      <p-calendar
        [minDate]="minDate"
        [showTime]="true"
        hourFormat="24"
        inputId="expiresAt"
        [showIcon]="true"
        [showOnFocus]="false"
        formControlName="expiresAt"
        styleClass="w-full" />
      <validation-summary controlName="expiresAt" />
    </div>

    @if (isViewMode()) {
      <div class="field">
        <label for="token">Token:</label>
        <p-inputGroup class="w-full">
          <input
            id="token"
            type="text"
            pInputText
            formControlName="token" />
          <button
            pButton
            type="button"
            icon="pi pi-copy"
            (click)="copyToken()"></button>
        </p-inputGroup>
      </div>
    } @else {
      <div class="field">
        <p-button
          label="Save"
          type="submit"
          [disabled]="!form.valid" />
      </div>
    }
  </form>
</div>
