@if (issue$ | async; as issue) {
  <div class="grid m-4">
    <div class="col-12 text-2xl">
      <div class="flex flex-row gap-2">
        <span class="text-bold">{{ issue.title }}</span>
        <span class="text-400">#{{ issue.issueNumber }}</span>
        <div class="flex-grow-1"></div>
        <div>
          <p-buttonGroup>
            <p-button
              routerLink="edit"
              label="Edit"
              icon="pi pi-pencil"
              [disabled]="!(canEdit$ | async)"
              [outlined]="true" />

            @if (issue.isLocked) {
              <p-button
                label="Unlock"
                icon="pi pi-lock-open"
                [outlined]="true"
                (click)="unlockIssue()"
                [disabled]="!(canManage$ | async)" />
            } @else {
              <p-button
                label="Lock"
                icon="pi pi-lock"
                [outlined]="true"
                (click)="lockIssue()"
                [disabled]="!(canManage$ | async)" />
            }

            <p-button
              label="Delete"
              icon="pi pi-trash"
              severity="danger"
              [outlined]="true"
              [disabled]="!(canManage$ | async)" />
          </p-buttonGroup>
        </div>
      </div>
    </div>

    <div class="col-12 grid">
      <div class="col-10">
        @if (items$ | async; as items) {
          <div class="flex flex-column gap-2">
            @for (item of items; track item.id) {
              @if (isChangeLog(item)) {
                <div>
                  <change-log-view [changeLog]="item" />
                </div>
              } @else {
                <comment-view
                  [comment]="item"
                  [repositoryName]="repositoryName()"
                  [issue]="issue"
                  (commentAdded)="commentAdded()" />
              }
            }
          </div>
        }

        @if (canEdit$ | async) {
          <div class="mt-2">
            <comment-new
              [repositoryName]="repositoryName()"
              [issue]="issue"
              (commentAdded)="commentAdded()" />
          </div>
        }
      </div>
      <div class="col-2">
        <div>
          <div>Status:</div>
          <div>
            <tag [value]="issue.status" />
          </div>
        </div>

        <p-divider />

        <div>
          <div>Assignee:</div>
          <div class="flex flex-row gap-2">
            <span class="pi pi-user"></span>
            <span>{{ issue.assignee?.name ?? 'Unassigned' }}</span>
          </div>
        </div>

        <p-divider />

        <div>
          <div>Author:</div>
          <div class="flex flex-row gap-2">
            <span class="pi pi-user"></span>
            <span>{{ issue.author.name }}</span>
          </div>
        </div>

        <p-divider />

        <div>
          <div>Created At:</div>
          <div>{{ issue.createdAt | date: 'short' }}</div>
        </div>

        <p-divider />

        <div>
          <div>Labels:</div>
          <div class="flex flex-column gap-2">
            @for (label of issue.labels; track label.id) {
              <tag [value]="label" />
            } @empty {
              <span>No Labels</span>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
}
