<div class="grid">
  <div
    *ngIf="directoryView | async as view; else empty"
    class="col">
    <p-toolbar>
      <div
        *ngIf="branches | async as b"
        class="p-toolbar-group-start">
        <p-dropdown
          [options]="b"
          optionLabel="name"
          [ngModel]="selectedBranch | async"
          (ngModelChange)="selectBranch($event)" />
      </div>
      <div class="p-toolbar-group-end">
        <p-button
          label="Clone"
          severity="success" />
      </div>
    </p-toolbar>

    <p-toolbar>
      <div class="p-toolbar-group-start gap-2">
        <span class="pi pi-user"></span>
        <span class="font-medium">{{ view.commit.author.name }}</span>
        <span class="text-400">{{ view.commit.message }}</span>
      </div>
      <div class="p-toolbar-group-end gap-2">
        <span class="text-400">{{ view.commit.hash | slice: 0 : 6 }}</span>
        <span class="text-400">{{ view.commit.date | date: 'shortDate' }}</span>
        <span class="pi pi-history"></span>
        <span>{{ view.commitsCount }} commits</span>
      </div>
    </p-toolbar>

    <p-table
      [value]="view.items"
      selectionMode="single"
      styleClass="p-datatable-striped">
      <ng-template
        pTemplate="body"
        let-item>
        <tr>
          <td>
            <span
              *ngIf="item.isDirectory"
              class="pi pi-folder"></span>
            <span
              *ngIf="!item.isDirectory"
              class="pi pi-file"></span>
          </td>
          <td>
            <a
              *ngIf="item.isDirectory; else file"
              [routerLink]="item.name">
              {{ item.name }}
            </a>
            <ng-template #file>
              <span> {{ item.name }} </span>
            </ng-template>
          </td>
          <td class="text-400">{{ item.message }}</td>
          <td class="text-400">{{ item.date | date: 'shortDate' }}</td>
        </tr>
      </ng-template>
    </p-table>

    <div
      pDefer
      *ngIf="displayTabView | async">
      <ng-template>
        <p-tabView>
          <p-tabPanel
            *ngIf="readmeName | async"
            header="README">
            <pre style="white-space: pre-wrap">{{ readmeFile | async }}</pre>
          </p-tabPanel>
          <p-tabPanel
            *ngIf="licenseName | async"
            header="LICENSE">
            <pre style="white-space: pre-wrap">{{ licenseFile | async }}</pre>
          </p-tabPanel>
        </p-tabView>
      </ng-template>
    </div>
  </div>

  <ng-template #empty>
    <div class="col">
      <p-toolbar>
        <div class="p-toolbar-group-start">
          <p-skeleton
            width="8rem"
            height="2rem" />
        </div>
        <div class="p-toolbar-group-end">
          <p-skeleton
            width="8rem"
            height="2rem" />
        </div>
      </p-toolbar>

      <p-toolbar>
        <div class="grid w-full">
          <!-- icon -->
          <p-skeleton
            height="1rem"
            class="col-1" />
          <!-- author -->
          <p-skeleton
            height="1rem"
            class="col-2" />
          <!-- message -->
          <p-skeleton
            height="1rem"
            class="col-6" />

          <!-- hash -->
          <p-skeleton
            height="1rem"
            class="col-1" />
          <!-- date -->
          <p-skeleton
            height="1rem"
            class="col-1" />
          <!-- commit count -->
          <p-skeleton
            height="1rem"
            class="col-1" />
        </div>
      </p-toolbar>

      <p-table
        [value]="directoryViewPlaceholder"
        selectionMode="single"
        styleClass="p-datatable-striped">
        <ng-template
          pTemplate="body"
          let-item>
          <tr>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
            <td><p-skeleton /></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-template>

  <div class="col-2">
    <div class="text-2xl">{{ (repository | async)?.name }}</div>
    <div class="text-xl">{{ (repository | async)?.description }}</div>
  </div>
</div>
