<div class="flex align-items-center justify-content-center">
  <form
    class="w-full"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <validation-summary />

    <div class="field">
      <label for="login">Login:</label>
      <input
        id="login"
        type="text"
        class="w-full"
        pInputText
        formControlName="login" />
      <validation-summary controlName="login" />
    </div>

    <div class="field">
      <p-button
        label="Save"
        type="submit"
        [disabled]="form.invalid" />
    </div>
  </form>
</div>
